#!/bin/bash

alias vi='vim'
alias md='mkdir -p'
alias rd='rmdir'
alias p='pgrep -af'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# reload the shell
alias reload='exec $SHELL -l'

#alias ll='ls -alh'
#alias lsd='ls -lh | grep "^d"'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# IP addresses
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias grepip='grep -oE "\b([0-9]{1,3}\.){3}[0-9]{1,3}\b"'

# Print each PATH entry on a separate line
alias path='printf "%s" "$PATH" | tr ":" "\n"'

# OS aliases
if [[ "$OSTYPE" == "darwin"* ]]; then
    alias flush='dscacheutil -flushcache && killall -HUP mDNSResponder'
    alias mute="osascript -e 'set volume output muted true'"
    alias unmute="osascript -e 'set volume output muted false'"
    alias lmk="say 'Process complete.'"
elif [[ "$OSTYPE" == "linux"* ]]; then
    alias sc='systemctl'
    alias scr='systemctl daemon-reload'
    alias sce='systemctl stop'
    alias scs='systemctl start'
fi

# if app exists aliases 
if command -v kubectl >/dev/null 2>&1; then
    alias k='kubectl'
    alias kgp='kubectl get pods'
    alias kgd='kubectl get deployments'
    alias kgn='kubectl get nodes'
    alias kdp='kubectl describe pod'
    alias kdd='kubectl describe deployment'
    alias kdn='kubectl describe node'
    alias kgpan='kubectl get pods --all-namespaces'
    alias kgdan='kubectl get deployments --all-namespaces'
    alias kcon='kubectl config use-context'
fi

if command -v docker >/dev/null 2>&1; then
    alias dco='docker-compose'
    alias dcofresh='docker-compose-fresh'
    alias dcol='docker-compose logs -f --tail 100'
    alias dcou='docker-compose up'

    alias dk='docker'
    alias dklc='docker ps -l'  # List last Docker container
    alias dklcid='docker ps -l -q'  # List last Docker container ID
    alias dklcip='docker inspect -f "{{.NetworkSettings.IPAddress}}" $(docker ps -l -q)'  # Get IP of last Docker container
    alias dkps='docker ps'  # List running Docker containers
    alias dkpsa='docker ps -a'  # List all Docker containers
    alias dki='docker images'  # List Docker images
    alias dkrmac='docker rm $(docker ps -a -q)'  # Delete all Docker containers
    alias dkpra='docker image prune -a'
fi

if command -v ansible >/dev/null 2>&1; then
    alias ans='ansible'
    alias ap='ansible-playbook'
fi

if command -v eza >/dev/null 2>&1; then
  typeset -ag eza_params

  eza_params=(
  '--git' '--icons' '--classify' '--group'
  '--group-directories-first' '--time-style=long-iso' '--color-scale'
  )

  alias ls='eza $eza_params'
  alias l='eza --git-ignore $eza_params'
  alias ll='eza --all --header --long $eza_params'
  alias llm='eza --all --header --long --sort=modified $eza_params'
  alias la='eza -lbhHigUmuSa'
  alias lx='eza -lbhHigUmuSa@'
  alias lt='eza --tree $eza_params'
  alias tree='eza --tree $eza_params'
fi
