#!/bin/bash

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"

# Make vim the default editor
export EDITOR="vim"

# Larger bash history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL="ignoredups:ignorespace"
export HISTTIMEFORMAT="%Y-%m-%d %H:%M:%S "
export HISTIGNORE="bg:clear:exit:fg:history:cd -:pwd:exit:date:* --help"

# Better MySQL prompt
export MYSQL_PS1="\u@\h \d > "

# Have brew only prompt every week to update
export HOMEBREW_AUTO_UPDATE_SECS=604800

# Have zsh-nvm load NVM lazy
export NVM_LAZY_LOAD=true
export NVM_COMPLETION=true

# zplug
export ZPLUG_HOME=$HOMEBREW_PREFIX/opt/zplug

# eza
export EZA_COLORS='uu=1;36:gu=1;36'

# hashicorp hcp vault
export VAULT_NAMESPACE="admin"
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES # needed for using the ansible hashicorp module

# k8s
export KUBECONFIG="${HOME}/.kube/config"
